/*----------------------------------------*/
/*覆盖浏览器的默认样式
/*----------------------------------------*/

*{
    margin: 0;
    padding: 0;
  }
  body{
    font-size: 12px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  }
  ul{
    list-style: none;
  }
  a{
    color: black;
    text-decoration: none;
  }
  input,
  button{
    line-height: inherit;
    font-family: inherit;
    border: none;
    outline: none;
    background: none;
  }
  ::-ms-clear{ /*清除IE下input框后的叉号*/
    display: none;
  }
  button{
    cursor: pointer;
  }
  
  /*----------------------------------------*/
  /*图标大小为20px*20px或者40px*20px
  /*已经设置好在父元素中垂直居中
  /*只需另外设置left或者right来调整水平位置
  /*----------------------------------------*/
  
  /*---- 通用设置 ----*/
  [class|=icon]{ /*所有类名以“icon-”开头的*/
    width: 20px;
    height: 20px;
    top: 50%;
    margin-top: -10px; /*垂直居中*/
    /*有些图标高度不是20px，那么margin-top要单独设置*/
    position: absolute; 
  }
  [class|=icon]::before,
  [class|=icon]::after{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
  }
  
  /*---- 默认颜色设置 ----*/
  .icon-rank{ /*排行榜*/
    background: #f25d8e;
  }
  .icon-search{ /*搜索*/
    border-color: #00a1d6;
  }
  .icon-search:hover{
    border-color: #f25d8e;
  }
  .icon-cross::before, /*叉号*/
  .icon-cross::after{
    background: #ccc;
  }
  .icon-cross:hover::before,
  .icon-cross:hover::after{
    background: #00a1d6;
  }
  
  /*---- 叉号 ----*/
  .icon-cross{
    width: 40px;
  }
  .icon-cross::before,
  .icon-cross::after{
    height: 16px;
    width: 1.5px;
    top: 2px;
    right: 19px; /*设置right和top使叉号居中*/
    border-radius: 1px;
  }
  .icon-cross::before{
    transform: rotate(45deg);
  }
  .icon-cross::after{
    transform: rotate(-45deg);
  }
  
  /*---- 排行榜 ----*/
  .icon-rank,
  .icon-rank::before,
  .icon-rank::after{
    width: 4px;
    border-radius: 1px;
  }
  .icon-rank::before,
  .icon-rank::after{
    bottom: 0;
    background: inherit;
  }
  .icon-rank{
    height: 18px;
    margin-top: -9px;
    margin-left: 8px;
    margin-right: 8px;  /*这样排行榜图标宽度可以当作20px*/
  }
  .icon-rank::before{
    height: 12px;
    left: -6px;
  }
  .icon-rank::after{
    height: 10px;
    right: -6px;
  }
  
  /*---- 搜索 ----*/
  .icon-search{
    width: 40px;
  }
  .icon-search::before{
    height: 12px;
    width: 12px;
    border-radius: 12px;
    border: 2px solid;
    top: 1px;
    left: 11px;
    border-color: inherit;
  }
  .icon-search::after{
    height: 7px;
    border-left: 1.5px solid;
    border-right: 1.5px solid;
    border-radius: 1.5px;
    right: 13px;
    bottom: 0px;
    transform: rotate(-45deg);
    border-color: inherit;
  }
  
  /*----------------------------------------*/
  /*用到的动画效果
  /*----------------------------------------*/
  
  @keyframes scale-in{
    0%{
      opacity:0;
      transform:scale(0)
    }
    50%{
      transform:scale(1)
    }
    100%{
      opacity:1;
      transform:scale(1)
    }
  }
  
  /*----------------------------------------*/
  /*页眉（背景图和顶部导航部分）
  /*----------------------------------------*/
  
  /*---- 整体尺寸 ----*/
  header{
    height: 170px;
    min-width: 990px;
    position: relative;
    margin-bottom: 15px;
  }
  
  /*---- 背景图片 ----*/
  header>a[name="background"]{
    display: block;
    width: 100%;
    height: 100%;
  }
  /*---- 背景图片说明文本 ----*/
  header>a[name="background"]>span{
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -230px;
    color: white;
    background: rgba(0,0,0,0.7); 
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
  }
  header>a[name="background"]:hover>span{
    opacity: 1;
  }
  /*---- 背景图片上的哔哩哔哩标志 ----*/
  header>a[name="bili"]{
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -475px;  
  }
  
  /*---- 毛玻璃 ----*/
  header div.blur{
    height: 42px;
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
  }
  header div.blur::before,
  header div.blur::after{
    content: "";
    position: absolute;
    width: 100%; 
  }
  header div.blur::before{
    height: 62px;
    top: -10px;
    padding: 0 20px;
    left: -20px;
    background: url(http://oikodvnp2.bkt.clouddn.com/images/header/background.jpg) no-repeat center top;
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  header div.blur::after{
    height: 42px;
    top: 0;
    background-color: rgba(255,255,255,0.4);
  }
  
  /*---- 顶部导航栏 ----*/
  header nav{
    width: 980px;
    padding: 0 5px;
    height: 42px;
    line-height: 42px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -495px;
  }
  
  /*---- 导航栏一级菜单 ----*/
  header nav>ul>li{
    float: left;
    position: relative;
    transition: background 0.15s;
  }
  header nav>ul>li.right{
    float: right;
  }
  header nav>ul>li:hover{
    background: rgba(255,255,255,0.4);
  }
  header nav>ul>li>a{
    display: block;
    padding: 0 15px;
    font-size: 13px;
  }
  /*---- 投稿项的样式重新设置 ----*/
  header nav>ul>li.contribute{
    background: #f25d8e;
    height: 50px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  header nav>ul>li.contribute:hover{
    background: #fb7299;
  }
  header nav>ul>li.contribute>a{
    color: white;
  }
  /*---- 登录和注册之间的竖线 ----*/
  header nav>ul>li.right:last-of-type::before{
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 15px;
    bottom: 15px;
    border-right: 1px solid black;
  }
  
  /*---- 导航栏二级菜单 ----*/
  header nav>ul>li>div{
    visibility: hidden;
    position: absolute;
    background: white;
    box-shadow: 1px 1px 4px #999;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 0;
  }
  header nav>ul>li:hover>div{
    visibility: visible;
    z-index: 10;
  }
  div#nav-contribute{
    right: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }
  li.contribute:hover div#nav-contribute{
    opacity: 1;
  }
  
  /*---- 导航栏二级菜单-游戏中心 ----*/
  #nav-game-center{
    width: 460px;
    padding-top: 12px;
  }
  #nav-game-center>div.left{
    width: 264px;
    float: left;
  }
  #nav-game-center>div.right{
    width: 196px;
    float: right;
    background: url(http://oikodvnp2.bkt.clouddn.com/images/header/game_right_title.png) no-repeat 0 0;
  }
  
  /*---- 导航栏二级菜单-游戏中心-左侧 ----*/
  #nav-game-center div.left a.top{
    display: block;
    width: 240px;
    height: 128px;
    margin: 0 auto 6px;
    border-radius: 5px;
    overflow: hidden;
  }
  #nav-game-center div.left a.bottom{
    float: left;
    padding: 6px 12px 0;
  }
  #nav-game-center div.left a:nth-of-type(2){
    border-bottom-left-radius: 5px;
    overflow: hidden;
  }
  #nav-game-center div.left a.top p{
    width: 100%;
    line-height: 12px;
    padding: 5px;
    margin-top: -22px;
    color: white;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.7));
    position: relative;
  }
  #nav-game-center div.left a.top:hover p{
    text-shadow: 1px 1px 2px black;
  }
  #nav-game-center div.left a.bottom p{
    width: 100%;
    line-height: 30px;
    text-align: center;
  }
  #nav-game-center div.left a.bottom img{
    border-radius: 14px;
  }
  #nav-game-center div.left a.bottom:hover{
    background: #e5e9ef;
  }
  
  /*---- 导航栏二级菜单-游戏中心-右侧 ----*/
  #nav-game-center div.right ul{
    margin-top: 20px;
    margin-left: 6px;
    padding-top: 15px;
    box-shadow: -5px 0px 4px -4px #ddd;
    height: 190px;
    line-height: 28px;
  }
  #nav-game-center div.right>a{
    float: right;
    margin-right: 12px;
    color: #00a1d6;
    line-height: 25px;
  }
  #nav-game-center div.right ul a{
    display: block;
    padding-left: 15px;
  }
  #nav-game-center div.right ul a:hover{
    color: #00a1d6;
    background: #e5e9ef;
  }
  #nav-game-center div.right ul a img{
    display: none;
    position: absolute;
    bottom: 0;
    right: -200px;
  }
  #nav-game-center div.right ul a:hover img{
    display: block;
  }
  
  /*---- 导航栏二级菜单-直播 ----*/
  #nav-live{
    width: 473px;
    padding: 12px 0;
  }
  #nav-live div.left{
    padding: 0 6px;
    width: 228px;
    float: left;
  }
  #nav-live div.right{
    float: left;
    width: 233px;
  }
  #nav-live div>p{
    font-size: 13px;
    line-height: 13px;
    margin-left: 6px;
    margin-bottom: 6px;
    color: #ea759f;
  }
  #nav-live div.right>p{
    margin-left: 12px;
  }
  
  /*---- 导航栏二级菜单-直播-左侧 ----*/
  #nav-live div.left a{
    height: 80px;
    margin: 6px;
    float: left;
    position: relative;
  }
  #nav-live div.left a img,
  #nav-live div.left a i{
    width: 64px;
    height: 64px;
    border-radius: 32px;
  }
  #nav-live div.left a p{
    width: 64px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
  }
  #nav-live div.left a i{
    display: none;
    position: absolute;
    top: 0;
    line-height: 64px;
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    background-color: rgba(0,0,0,0.5);
    animation: scale-in cubic-bezier(.22, .58, .12, .98) .5s;
  }
  #nav-live div.left a i::before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #ff699e;
  }
  #nav-live div.left a i::after{
    content: "LIVE";
  }
  #nav-live div.left a:hover i{
    display: block;
  }
  
  /*---- 导航栏二级菜单-直播-右侧 ----*/
  #nav-live div.right a{
    display: block;
    padding: 6px 12px;
    border-left: 1px solid #ddd;
  }
  #nav-live div.right a img{
    border-radius: 5px;
  }
  #nav-live div.right a:hover{
    background: #e5e9ef;
  }
  
  /*---- 导航栏二级菜单-投稿 ----*/
  div#nav-contribute{
    width: 210px;
    overflow: hidden;
  }
  #nav-contribute>a{
    float: left;
    width: 70px;
    line-height: 40px;
    color: #ea759f;
    text-align: center;
    transition: background 0.3s;
  }
  #nav-contribute>a:hover{
    background: #e5e9ef;
  }
  #nav-contribute>a>i{
    display: block;
    width: 20px;
    height: 20px;
    margin: 15px auto -5px;
  }
  
  /*---- 搜索框 ----*/
  #search-box{
    position: absolute;
    top: 115px;
    right: 5px;
    padding: 2px;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
  }
  #search-box>a,
  #search-box>form{
    float: left;
    background: rgba(255,255,255,0.8);
    transition: background 0.3s;
    border-radius: 4px;
  }
  #search-box>a{
    line-height: 30px;
    color: #f25d8e;
    padding: 0 6px 0 28px;
    position: relative;
  }
  #search-box form{
    margin-left: 2px;
    line-height: 0;
    position: relative;
  }
  #search-box>form:hover,
  #search-box>a:hover{
    background: white;
  }
  #search-box a .icon-rank{
    left: 5px;
  }
  #search-box form input,
  #search-history{
    width: 260px;
    box-sizing: border-box;
  }
  #search-box input{
    height: 30px;
    padding: 0 50px 0 10px;
    font-size: 12px;
  }
  #search-box button{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 30px;
  }
  #search-box button .icon-search{
    left: 0;
  }
  #search-box button:hover .icon-search{
    border-color: #f25d8e;  
  }
  
  /*---- 搜索历史 ----*/
  #search-history{
    display: none;
    position: absolute;
    right: 2px;
    top: 38px;
    padding: 5px 0;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 5px #aaa;
    z-index: 9;
  }
  #search-history::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
  }
  #search-history>p{
    line-height: 0;
    margin: 12px 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  #search-history>p>a{
    color: #aaa;
    background: white;
    padding: 0 8px;
  }
  #search-history ul{
    text-indent: 10px;
  }
  #search-history ul a{
    display: block;
    line-height: 30px;
    position: relative;
  }
  #search-history ul a:hover{
    background: #e5e9ef;
  }
  #search-history a .icon-cross{
    right: 10px;
  }
  
  /*----------------------------------------*/
  /*主导航栏样式
  /*----------------------------------------*/
  
  /*---- 内容包裹层尺寸 ----*/
  #main-wrapper{
    width: 980px;
    padding: 0 5px;
    margin: 0 auto;
    position: relative;
  }
  
  /*---- 主导航栏尺寸 ----*/
  #main-nav{
    height: 34px;
    margin-bottom: 15px;
  }
  /*---- 主导航栏列表 ----*/
  #main-nav>ul>li{
    float: left;
    position: relative;
  }
  #main-nav>ul>li>a{
    display: block;
    padding: 0 10px 10px;
    text-align: center;
    line-height: 0;
  }
  #main-nav>ul>li:hover>a{
    color: #00a1d6;
  }
  #main-nav>ul>li>a>span{
    display: inline-block;
    min-width: 18px;
    font-size: 10px;
    line-height: 14px;
    padding: 0 2px;
    margin: 1px 0 5px;
    color: white;
    background:  #ffafc9;
    border-radius: 4px;
  }
  #main-nav>ul>li>a>p{
    font-size: 14px;
    line-height: 14px;
  }
  
  /*---- 单独设置广场和直播 ----*/
  #main-nav a[name="square"],
  #main-nav a[name="live"]{
    font-size: 16px;
    line-height: 34px;
    padding: 0 5px 10px 25px;
    margin-right: 20px;
  }
  #main-nav a[name="square"]{
    margin-left: 20px;
  }
  
  /*---- 设置gif动图和手机端 ----*/
  #main-nav a[name="gif"],
  #main-nav a[name="mobile"]{
    float: right;
  }
  #main-nav a[name="gif"]{
    position: relative;
    top: -5px;
    margin-right: 20px;
  }
  #main-nav a[name="mobile"]{
    width: 58px;
    height: 34px;
    background: url(http://oikodvnp2.bkt.clouddn.com/images/main_nav/phone_grey.png) no-repeat;
    position: relative;
    padding-bottom: 5px;
  }
  #main-nav a[name="mobile"]:hover{
    background-image: url(http://oikodvnp2.bkt.clouddn.com/images/main_nav/phone_red.png);
  }
  
  /*---- 手机端的弹出框 ----*/
  #main-nav a[name="mobile"] div{
    display: none;
    position: absolute;
    top: 38px;
    right: -20px;
    z-index: 5;
  }
  #main-nav a[name="mobile"] div img[name="qrcode"]{
    position: absolute;
    top: 32px;
    right: 80px;
  }
  #main-nav a[name="mobile"]:hover div{
    display: block;
  }
  
  /*---- 设置二级菜单 ----*/
  #main-nav ul li>ul{
    display: none;
    position: absolute;
    top: 44px;
    background: white;
    box-shadow: 0 1px 2px #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  #main-nav ul li:hover>ul{
    display: block;
    z-index: 10;
  }
  #main-nav ul li>ul a{
    display: block;
    min-width: 60px;
    width: 100%;
    line-height: 30px;
    padding: 0 20px 0 25px;
    white-space:nowrap; /*设置文本不换行*/
    position: relative;
    left: -5px;
    transition: left 0.2s;
  }
  #main-nav ul li>ul a:hover{
    background: #e5e9ef;
    left: 0;
  }
  
  /*---- 用伪类设置二级菜单项的左右小箭头 ----*/
  #main-nav ul li>ul a::before,
  #main-nav ul li>ul a::after{
    content: "";
    width: 6px;
    height: 10px;
    position: absolute;
    bottom: 10px;
    background: url(http://oikodvnp2.bkt.clouddn.com/images/basic/icons2.png) no-repeat;
  }
  #main-nav ul li>ul a::before{
    background-position: 0 -1624px;
    left: 15px;
  }
  #main-nav ul li>ul a::after{
    background-position: 0 -1587px;
    margin-left: 110px;
    transition: margin-left 0.2s;
  }
  #main-nav ul li>ul a:hover::after{
    margin-left: 5px;
  }
  
  /*---- 单独设置广场的二级菜单 ----*/
  #main-nav div.square{
    display: none;
    width: 380px;
    position: absolute;
    top: 44px;
    left: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 1px 2px #ddd;
    background: white;
  }
  #main-nav li:hover div.square{
    display: block;
    z-index: 10;
  }
  
  /*---- 广场的二级菜单-左边列表 ----*/
  #main-nav div.square ul{
    line-height: 30px;
    width: 110px;
    height: 150px;
    margin: 15px 0;
    padding-right: 10px;
    border-right: 1px solid #eee;
  }
  #main-nav div.square li{
    overflow: hidden;
  }
  #main-nav div.square li a{
    display: block;
    width: 100%;
    padding-left: 20px;
    position: relative;
    left: -5px;
    transition: left 0.3s;
  }
  #main-nav div.square li a:hover{
    background-color: #e5e9ef;
    left: 0;
  }
  #main-nav div.square li a i{
    float: left;
    width: 22px;
    height: 26px;
    background: url(http://oikodvnp2.bkt.clouddn.com/images/basic/icons.png) no-repeat;
  }
  
  /*---- 广场的二级菜单-右边图片链接 ----*/
  #main-nav div.square>a{
    position: absolute;
    top: 15px;
    right: 10px;
  }
  #main-nav div.square>a img{
    border-radius: 5px;
  }
  
  /*----------------------------------------*/
  /*页面上部的左右轮播图布局
  /*----------------------------------------*/
  
  /*---- 轮播图整体布局 ----*/
  #top-slideshow{
    margin-bottom: 15px;
    height: 220px;
  }
  #top-slideshow>div{
    height: 220px;
    overflow: hidden;
    position: relative;
  }
  #top-slideshow>div.left{
    float: left;
    width: 440px;
    border-radius: 5px;
  }
  #top-slideshow>div.right{
    float: right;
    width: 520px;
  }
  
  /*---- 左边-设置图片 ----*/
  #top-slideshow div.left a[name="img"]{  
    position: absolute;
    top: 0;
    left: 440px;
    line-height: 0;
    transition: left 0.2s linear; /*定义动画*/
  }
  #top-slideshow div.left a[name="img"].active{
    left: 0;
  }
  #top-slideshow div.left a[name="img"].left{
    left: -440px;
  }
  /*---- 设置图片底部渐变阴影 ----*/
  #top-slideshow div.left a[name="img"]::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 440px;
    height: 30px;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.6));
  }
  /*---- 设置图片描述 ----*/
  #top-slideshow div.left a[name="descrip"]{
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    font-size: 14px;
    color: white;
    line-height: 30px;
    opacity: 0;
    transition: opacity 0.2s;
  }
  #top-slideshow div.left a[name="descrip"]:hover{
    text-shadow: 0 0 1px white;
  }
  #top-slideshow div.left a[name="descrip"].active{
    opacity: 1;
    z-index: 1; /*避免hover时其它opacity为0的描述的干扰*/
  }
  /*---- 设置图片页码 ----*/
  #top-slideshow div.left span{
    position: absolute;
    bottom: 5px;
    width: 24px;
    height: 20px;
    background: url(http://oikodvnp2.bkt.clouddn.com/images/basic/icons.png) -852px -790px no-repeat;
    cursor: pointer;
  }
  #top-slideshow div.left span:hover{
    background-position: -916px -790px;
  }
  #top-slideshow div.left span.active{
    background-position: -852px -727px;
  }
  /*---- 按钮更多 ----*/
  #top-slideshow>div.left>a[name="more"]{
    position: absolute;
    bottom: 30px;
    right: 12px;
    color: white;
    background: rgba(0,0,0,0.6) url(http://oikodvnp2.bkt.clouddn.com/images/basic/icons.png) -504px -212px;
    line-height: 22px;
    padding: 0 18px 0 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.4s;
  }
  #top-slideshow>div.left:hover>a[name="more"]{
    opacity: 1;
  }
  #top-slideshow>div.left>a[name="more"]:hover{
    text-shadow: 0 0 1px white;
  }
  
  /*---- 右边轮播图布局 ----*/
  #top-slideshow div.right div{
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }
  #top-slideshow div.right div.active{
    opacity: 1;
  }
  /*---- 右边-图片 ----*/
  #top-slideshow div.right div a{
    display: block;
    float: left;
    width: 160px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
  }
  #top-slideshow div.right div a:nth-of-type(2),
  #top-slideshow div.right div a:nth-of-type(5)
  {
    margin: 0 20px 20px;
  }
  #top-slideshow div.right div img{
    width: 160px;
    height: 100px;
  }
  /*---- 右边-图片标题 ----*/
  #top-slideshow div.right div h6{
    display: block;
    height: 18px;
    line-height: 18px; /*只显示一行文本*/
    padding: 0 5px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: white;
    font-weight: normal;
    /*背景渐变阴影↓*/
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.8));
    word-wrap: break-word;
    word-break: break-all;
  }
  #top-slideshow div.right div a:hover h6{
    height: 36px; /*最多只显示两行文字*/
    top: 10px;
    background: none;
  }
  /*---- 右边-图片其它信息 ----*/
  #top-slideshow div.right div p{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; /*为了设置透明黑色背景*/
    background: rgba(0,0,0,0.6);
    line-height: 20px;  
    padding: 55px 5px 5px; /*让文本位于底部*/
    box-sizing: border-box;
    color: #99a2aa;
    opacity: 0;
    transition: all 0.4s;
  }
  #top-slideshow div.right div a:hover p{
    opacity: 1;
  }
  /*---- 右边-左右按钮 ----*/
  #top-slideshow div.right>span{
    position: absolute;
    width: 20px;
    height: 36px;
    padding: 10px 3px;
    top: 50%;
    margin-top: -28px; /*在父容器中垂直居中*/
    line-height: 18px;
    background: rgba(0,0,0,0.6) url(http://oikodvnp2.bkt.clouddn.com/images/basic/icons2.png);
    color: white;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    /*设置不能选择文本↓*/
    -ms-user-select:none; /*IE10*/
    -webkit-user-select:none; /*webkit浏览器*/
    user-select:none;
  }
  #top-slideshow div.right>span.left{
    left: 0;
    padding-left: 15px;
    background-position: 8px -1211px;
  }
  #top-slideshow div.right>span.right{
    right: 0;
    padding-right: 15px;
    background-position: 25px -1262px;
  }
  #top-slideshow div.right:hover>span{
    opacity: 1;
    z-index: 1;
  }
  #top-slideshow div.right>span:hover{
    background-color: rgba(0,0,0,0.75);
  }
  
  /*---- 设置快速展示按钮 ----*/
  #main-wrapper>a[name="present"]{
    position: fixed;
    right: 30px;
    bottom: 50px;
    padding: 5px 10px;
    color: white;
    background:#00a1d6;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    z-index: 20;
  }
  #main-wrapper>a[name="present"] p{
    font-size: 12px;
  }
  #main-wrapper>a[name="present"]::after{
    content: "";
    width: 150%;
    height: 40px;
    position: absolute;
    right: -130px;
    top: 0;
    background: rgba(255,255,255,0.6);
    transform: rotate(-40deg);
    transition: right 0.5s cubic-bezier(0.19,1,0.22,1);
  }
  #main-wrapper>a[name="present"]:hover::after{
    right: 80px;
  }
  